@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
nav {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  font-size: 1.5em;
  display: flex;
}
nav .navbar-nav {
  margin: 0 auto 0 auto;
  font-size: 1.2em;
}
nav a {
  margin-right: 5em;
}
.carousel {
  width: 100%;
  align-content: center;
  z-index: 1;
  position: absolute;
}
.carousel #carousel1 {
  width: 100%;
  object-fit: contain;
  z-index: -1;
  position: relative;
}
.carousel #hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: -13em;
  text-align: center;
  font-size: 2em;
  position: relative;
  z-index: 999;
  display: block;
  padding: 1em 0 1em 0;
}
.carousel #hero-text h1 {
  font-size: 1.7em;
}
.carousel #hero-text h2 {
  margin-top: 1em;
}
.carousel #hero-text button {
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 2px solid #499ba8;
}
.carousel #arrow {
  margin-top: 2em;
}
@media (max-width: 700px) {
  .carousel #hero-text {
    margin-top: -9em;
    padding: 0.5em 0 0.5em 0;
  }
  .carousel #hero-text h1 {
    font-size: 1.1em;
  }
  .carousel #hero-text h2 {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  .carousel #hero-text button {
    margin-top: 0.2em;
  }
  #arrow {
    margin-top: 3em;
    width: 30px;
  }
}
@media (max-width: 450px) {
  .carousel {
    height: 120px;
  }
  .carousel #hero-text {
    margin-top: -7.5em;
    padding: 0.3em 0 0.3em 0;
  }
  .carousel #hero-text h1 {
    font-size: 1.1em;
  }
  .carousel #hero-text h2 {
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  .carousel #hero-text button {
    margin-top: 0.2em;
  }
  .carousel #arrow {
    display: none;
  }
}
.mainSection {
  padding: 3em 3em 3em 3em;
  margin: 0 auto 0 auto;
  font-size: 2em;
}
.mainSection h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.mainSection p {
  margin-bottom: 3em;
}
@media (max-width: 700px) {
  .mainSection {
    font-size: 1.5em;
  }
}
.gridContainer .row1 {
  margin-bottom: 1.5em;
}
footer {
  border-top: 1px solid #000;
  font-size: 1.5em;
  padding: 0.5em 0 0.5em 0;
  background-color: #A3EEE6;
}
footer .socialIcons {
  margin-bottom: 0.5em;
}
html,
body {
  padding-top: 3.5em;
  width: auto;
  font-size: 62.5%;
  font-family: 'Ubuntu';
  background-color: #fffef7;
  scroll-behavior: smooth;
}
.mainContainer {
  align-content: center;
  text-align: center;
}
