@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
nav {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  font-size: 1.5em;
  display: flex;
}
nav .navbar-nav {
  margin: 0 auto 0 auto;
  font-size: 1.2em;
}
nav a {
  margin-right: 5em;
}
.carousel {
  width: 100%;
  align-content: center;
  z-index: 1;
  position: absolute;
}
.carousel #carousel1 {
  width: 100%;
  object-fit: contain;
  z-index: -1;
  position: relative;
}
.carousel #hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: -14em;
  text-align: center;
  font-size: 2em;
  position: relative;
  z-index: 999;
  display: block;
  padding: 1em 0 1em 0;
}
.carousel #hero-text h1 {
  font-size: 1.7em;
}
.carousel #hero-text h2 {
  margin-top: 1em;
}
.carousel #hero-text button {
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 2px solid #499ba8;
}
.carousel #arrow {
  margin-top: 2.8em;
}
@media (max-width: 770px) {
  .carousel #hero-text {
    margin-top: -9em;
    padding: 0.5em 0 0.5em 0;
  }
  .carousel #hero-text h1 {
    font-size: 1.1em;
  }
  .carousel #hero-text h2 {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  .carousel #hero-text button {
    margin-top: 0.2em;
  }
  .carousel #arrow {
    margin-top: 3em;
    width: 30px;
  }
}
@media (max-width: 450px) {
  .carousel #hero-text {
    margin-top: -7.5em;
    padding: 0.3em 0 0.3em 0;
  }
  .carousel #hero-text h1 {
    font-size: 1.1em;
  }
  .carousel #hero-text h2 {
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  .carousel #hero-text button {
    margin-top: 0.2em;
  }
  .carousel #arrow {
    display: none;
  }
}
.mainSection {
  padding: 3em 3em 3em 3em;
  margin: 0 auto 0 auto;
  font-size: 2em;
}
.mainSection h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.mainSection p {
  margin-bottom: 3em;
}
.mainSection .gridContainer .row1 {
  margin-bottom: 1.5em;
}
@media (max-width: 770px) {
  .mainSection {
    font-size: 1.5em;
  }
  .gridContainer .row1 img {
    padding: 1em;
  }
  .gridContainer .row2 img {
    padding: 1em;
  }
}
footer {
  border-top: 1px solid #000;
  font-size: 1.5em;
  padding: 0.5em 0 0.5em 0;
  background-color: #A3EEE6;
}
footer .socialIcons {
  margin-bottom: 0.5em;
}
.hero {
  width: 100vw;
  align-content: center;
  margin: 0 auto 0 auto;
  background-image: url("../images/about-hero.jpg");
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
}
.hero #hero-text {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  text-align: center;
  font-size: 2em;
  display: block;
  padding: 1em 5em 1em 5em;
}
.main-section {
  padding: 3em 3em 3em 3em;
  margin: 0 auto 0 auto;
  font-size: 2em;
}
.main-section .top-section {
  display: flex;
  flex-direction: row;
}
.main-section .top-section flex .about-item {
  width: 50%;
}
.main-section .bottom-section .profiles-container {
  display: flex;
  flex-flow: row wrap;
}
.main-section .bottom-section .profiles-container .profile {
  max-width: 30%;
}
.main-section .bottom-section .profiles-container .profile .img-container {
  border: 1px dashed red;
}
.main-section .bottom-section .profiles-container .profile .img-container .profile-img {
  width: 10em;
}
html,
body {
  width: auto;
  font-size: 62.5%;
  font-family: 'Ubuntu';
  background-color: #fffef7;
  scroll-behavior: smooth;
}
.mainContainer {
  align-content: center;
  text-align: center;
}
