//About page content

.hero {
    width: 100vw;
    align-content: center;
    margin: 0 auto 0 auto;
    background-image: url("../images/about-hero.jpg");
    background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;

    #hero-text {
        background-color: rgba(255, 255, 255, 0.4);
        color: white;
        text-align: center;
        font-size: 2em;
        display: block;
        padding: 1em 5em 1em 5em;
    }
}

.main-section {
    padding: 3em 3em 3em 3em;
    margin: 0 auto 0 auto;
    font-size: 2em;

    .top-section {
        display: flex;
        flex-direction: row;
        flex
    
        .about-item {
            width: 50%;
            
            
        }
    }

    .bottom-section {

        .profiles-container {
            display: flex;
            flex-flow: row wrap;

            .profile {
                max-width: 30%;

                .img-container {
                    border: 1px dashed red;

                    .profile-img {
                        width: 10em;
                    }
                }
                
            }
        }
    }

}

