 .carousel {
    width: 100%;
    height: 70vh;
    align-content: center;
 
    z-index: 1;
    position: absolute;

    #carousel1 {
        width     : 100%;
        object-fit: contain;
        z-index: -1;
        position: relative;
    }

    #hero-text {
        background-color: rgba(0,0,0,0.4);
        color: #fff;
        margin-top: -13em;
        text-align: center;
        font-size: 2em;
        height: 30%;
        position: relative;
        z-index: 999;
        display: block;
        padding: 1em 0 1em 0;

        h1 {
            font-size: 1.7em;
        }

        h2 {
            margin-top: 1em;
        }

        button {
            margin-top: 1em;
            background-color: rgba(0,0,0,0.0);
            color: #fff;
            border: 2px solid #499ba8;
        }
    }

    #arrow {
        margin-top: 2em;
    }

}