// Main Ubuntu Font 
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Below this line is where you will start your work */
/* It is important to note, you will not be writing any CSS in this file*/
@import '../less/variables.less';
@import '../less/loadAni.less';
@import '../less/navBar.less';
@import '../less/carousel.less';
@import '../less/mainSect.less';
@import '../less/footer.less';
@import '../less/about.less';

html,
body {
  width           : auto;
  font-size       : 62.5%;
  font-family     : 'Ubuntu';
  background-color: #fffef7;
  scroll-behavior: smooth;
}
// ==========================================================



.container  {
  position: relative;
  width: 50%;
}

.one .two{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;//  original was   .5s ease
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50); //  original was   (-50%, -50%)  No changes occured
  -ms-transform: translate(-50%, -50%);//  original was   (-50%, -50%) No changes occured
  text-align: center;
}
// ============  HOVER  ===========
.one:hover {
  opacity: .8;  // No changes occured after changing opacit (1, .2, etc.)
}

.two:hover {
  opacity: 0.8;
}

.three:hover {
  opacity: 0.8;
}

.four:hover {
  opacity: 0.8;
}

.five:hover {
  opacity: 0.8;
}

.six:hover {
  opacity: 0.8;
}
// ==========================

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}