.mainSection {
    padding: 3em 3em 3em 3em;
    margin: 0 auto 0 auto;
    font-size: 2em;

    h2 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 3em;
    }

    .gridContainer {
        .row1 {
            margin-bottom: 1.5em;
        }
    }
}

@media @tablet {
    .mainSection {
        font-size: 1.5em;
        
        h2 {
            font-size: 1.5em;  
        }
    }

    .gridContainer {
        .row1 {
            img {
                padding: 1em;
            }
        }
    
        .row2 {
            img {
                padding: 1em;
            }
        }
    }
}

