nav {
    background-color: rgba(255,255,255,0.9);
    width: 100vw;
    font-size: 1.5em;
    display: flex;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    .navbar-nav {
        margin: 0 auto 0 auto;
        font-size: 1.2em;
        font-weight: 700;
    }
    a {
        margin-right: 5em;
    }
}